<div class="row" style="background-color: beige;padding-top: 5;padding-bottom: 5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <img src="assets/img/logo.png" class="rounded-circle">
            <h1 style="font-family: fantasy;font-size: 45px">GaragePlug</h1>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 center-block">
            <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">Checkout</h1>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 center-block">
            <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">Services</h1>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 4%;">
    <div class="col-sm-4 car-service" *ngFor="let service of CarserviceOld " [ngClass]="{'active': service.isSelected}" (click)="listClick($event, service)">
        <div class="row">
            <div class="col-sm-4"></div>
            <div>
                <img [src]="service.imagePath" style="height: 120px;width: 120px;">
                <h6>{{service.name}}</h6>
                <h6>Amount: {{service.Price}}</h6>
                <h1></h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-2 center-block">
            <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">Sizes</h1>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 4%;">
    <div class="col-sm-4 car-service" *ngFor="let carSZ of carNewSize" [ngClass]="{'active': service.isSelected}" (click)="listClick($event, service)">
        <div class="row">
            <div class="col-sm-4"></div>
            <div>
                <img [src]="service.imagePath" style="height: 120px;width: 120px;">
                <h6></h6>
                <h6>Amount: {{carSZ.Price}}</h6>
                <h1></h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2 center-block">
                <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">Amount: </h1>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-2 center-block">
                <button type="button" class="btn btn-default" [routerLink]="'/car-sizes'">CONTINUE</button>
            </div>
            <div class="col-sm-5">

            </div>
        </div>
    </div>