<div class="row" style="background-color: beige;padding-top: 5;padding-bottom: 5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <img src="assets/img/logo.png" class="rounded-circle">
            <h1 style="font-family: fantasy;font-size: 45px">GaragePlug</h1>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-2 center-block">
            <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">Car Sizes</h1>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</div>



<div class="row" style="margin-top: 4%;">
    <div class="col-sm-4" *ngFor="let cars of carSizes" [ngClass]="{'active': cars.isSelected}" (click)="listClick($event, cars)">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="assets/img/convertible (1).png" style="height: 120px;width: 120px;">
                <h6>{{cars.carSize}}: {{cars.Price}}</h6>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-2 center-block">
            <button type="button" class="btn btn-default" [routerLink]="'/checkout'">CONTINUE</button>
        </div>
        <div class="col-sm-5">

        </div>
    </div>
</div>