<div class="row" style="background-color: beige;padding-top: 5;padding-bottom: 5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <img src="assets/img/logo.png"  class="rounded-circle">
        <h1 style="font-family: fantasy;font-size: 45px">GaragePlug</h1>
      </div>

</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-5">
  
      </div>
      <div class="col-sm-2 center-block">
          <h1 style="font-family: fantasy;font-size: 20px;margin-top: 2%">CONTACT DETAILS</h1>
      </div>
      <div class="col-sm-5">
  
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 4%;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
          <div class="row">
             
                      <div class="col-sm-6">
                          <label for="usr">First-Name:</label>
                      </div>
                      <div class="col-sm-6">
                          <label for="usr">Last-Name:</label>
                      </div>
                  </div>
                            <div class="row">
             
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="usr" name="username">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="usr" name="username">
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
              </div>

              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <div class="row">
                     
                              <div class="col-sm-6">
                                  <label for="usr">Email:</label>
                              </div>
                              <div class="col-sm-6">
                                  <label for="usr">Phone-No:</label>
                              </div>
                          </div>
                                    <div class="row">
                     
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" id="usr" name="username">
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" id="usr" name="username">
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                      </div>



                      <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <div class="row">
                     
                              <div class="col-sm-12">
                                  <label for="usr">Services Date and time:</label>
                              </div>
                            
                          </div>
      
                      </div>
                      <div class="col-sm-4">
                      </div>


                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                          <div class="row">
                             
                                      <div class="col-sm-4">
                                          <div class="dropdown">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                Months
                                              </button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">1</a>
                                                <a class="dropdown-item" href="#">2</a>
                                                <a class="dropdown-item" href="#">3</a>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="dropdown">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                               Date
                                              </button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">1</a>
                                                <a class="dropdown-item" href="#">2</a>
                                                <a class="dropdown-item" href="#">3</a>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="dropdown">
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                               Year
                                              </button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">1</a>
                                                <a class="dropdown-item" href="#">2</a>
                                                <a class="dropdown-item" href="#">3</a>
                                              </div>
                                            </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-4">
                              </div>
                             


                              <div class="col-sm-4"></div>
                              <div class="col-sm-4">
                                  <div class="row">
                                     
                                              <div class="col-sm-12">
                                                  <span layout="row"><hr flex /></span>
                                              </div>
                                            
                                          </div>
                      
                                      </div>
                                      <div class="col-sm-4">
                                      </div>



                                      <div class="col-sm-4"></div>
                                      <div class="col-sm-4">
                                          <div class="row">
                                             
                                                      <div class="col-sm-12">
                                                          <label for="usr">Select Payment methods:</label>
                                                      </div>
                                                    
                                                  </div>
                              
                                              </div>
                                              <div class="col-sm-4">
                                              </div>



                                              <div class="col-sm-4"></div>
                                              <div class="col-sm-4">
                                                  <div class="row">
                                                     
                                                              <div class="col-sm-4">
                                                                  <button type="button" class="btn btn-default" (click)="firstClick()" [routerLink]="'/contact-details'">CONTINUE</button>
                                                              </div>
                                                              <div class="col-sm-4">
                                                                  <button type="button" class="btn btn-default" (click)="firstClick()" [routerLink]="'/contact-details'">CONTINUE</button>
                                                              </div>
                                                              <div class="col-sm-4">
                                                                 
                                                              </div>
                                                          </div>
                                      
                                                      </div>
                                                      <div class="col-sm-4">
                                                      </div>


                                                      <div class="col-sm-4"></div>
                                                      <div class="col-sm-4">
                                                          <div class="row">
                                                             
                                                                  
              <div class="col-sm-6">
                  <label for="usr">Credit/Debit Card:</label>
              </div>
              <div class="col-sm-6">
                  <label for="usr">Expiry Date:</label>
              </div>
                                                                  </div>
                                              
                                                              </div>
                                                              <div class="col-sm-4">
                                                              </div>
                                                      



                                                              <div class="col-sm-4"></div>
                                                              <div class="col-sm-4">
                                                                  <div class="row">
                                                                     
                                                                              <div class="col-sm-6">
                                                                                  <input type="password" class="form-control" id="pwd" name="password">
                                                                              </div>
                                                                              <div class="col-sm-6">
                                                                                  <div class="row">
                                                                                  <div class="col-sm-4">
                                                                                      
                                                                                      <div class="dropdown">
                                                                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                                           yy
                                                                                          </button>
                                                                                          <div class="dropdown-menu">
                                                                                            <a class="dropdown-item" href="#">1</a>
                                                                                            <a class="dropdown-item" href="#">2</a>
                                                                                            <a class="dropdown-item" href="#">3</a>
                                                                                          </div>
                                                                                        </div>
                                                                                  </div>
                                                                                  <div class="col-sm-4">
                                                                                      <div class="dropdown">
                                                                                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                                           mm
                                                                                          </button>
                                                                                          <div class="dropdown-menu">
                                                                                            <a class="dropdown-item" href="#">1</a>
                                                                                            <a class="dropdown-item" href="#">2</a>
                                                                                            <a class="dropdown-item" href="#">3</a>
                                                                                          </div>
                                                                                        </div>
                                                                                  </div>
                                                                                  <div class="col-sm-4"></div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
 
                                                                      </div>
                                                                      <div class="col-sm-4">
                                                                      </div>
                                                

              </div>

              <div class="container">
                  <div class="row">
                    <div class="col-sm-5">
                
                    </div>
                    <div class="col-sm-2 center-block">
                        <button style="margin-top: 2%" type="button" class="btn btn-default" (click)="firstClick()" [routerLink]="'/contact-details'">CONTINUE</button>
                    </div>
                    <div class="col-sm-5">
                
                    </div>
                  </div>
                </div>