<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="row">
            <img src="assets/img/logo.png"  class="rounded-circle">
            <h1 style="font-family: fantasy;font-size: 45px">GaragePlug</h1>
          </div>
  
  </div>
</div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-2 center-block">
        <button type="button" class="btn btn-default" (click)="firstClick()" [routerLink]="'/allservices'">SELECT SERVICES</button>
    </div>
    <div class="col-sm-5">

    </div>
  </div>
</div>
<style>
    .btn {
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      align-content: center;
    }
    
    /* Green */
    .success {
      border-color: #4CAF50;
      color: green;
    }
    .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  </style>